<html ng-app="app">
<head>
	<title></title>
	<meta charset="utf-8" />
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="site.css" />
	<script src="angular.min.1.6.4.js"></script>
	<script src="app.js"></script>
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
</head>
<body ng-controller="NeoMediaController as vm">

	<div class="search">
		<img ng-click="vm.queueVideos()" src="check.svg" />
		<input type="text" ng-model="vm.searchText" />
		<img class="clear" ng-click="vm.resetSearch()" src="clear.svg" />
	</div>

	<div class="videos">
		<div ng-repeat="video in vm.videos | filter:vm.searchText | orderBy:'name'" ng-click="vm.queueVideo(video)">
			<img ng-src="{{video.queued ? 'check.svg' : 'uncheck.svg'}}" /> {{::video.name}}
		</div>
	</div>

	<div class="footer">
		<div class="slider"><input type="range" min="0" max="{{vm.maxPos}}" ng-model="vm.curPos" ng-change="vm.setPos(vm.curPos)" /></div>
		<div class="currentSong">{{vm.currentSong}}</div>
		<div class="buttons">
			<img ng-click="vm.jumpPos(-30)" src="back30.svg" />
			<img ng-click="vm.jumpPos(-5)" src="back5.svg" />
			<img ng-click="vm.pause()" ng-src="{{vm.playing ? 'pause.svg' : 'play.svg'}}" />
			<img ng-click="vm.jumpPos(5)" src="forward5.svg" />
			<img ng-click="vm.jumpPos(30)" src="forward30.svg" />
			<img ng-click="vm.next()" src="forward.svg" />
			<div class="stretch" />
		</div>
	</div>

</body>
</html>
