<html ng-app="app">
<head>
	<title></title>
	<meta charset="utf-8" />
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="site.css" />
	<script src="angular.min.1.6.4.js"></script>
	<script src="app.js"></script>
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
</head>
<body ng-controller="NeoMediaController as vm">

	<table>
		<tr>
			<td><div style="width: 500px" /></td>
			<td><img ng-click="vm.jumpPos(-30)" src="back30.svg" /></td>
			<td><img ng-click="vm.jumpPos(-5)" src="back5.svg" /></td>
			<td><img ng-click="vm.pause()" ng-src="{{vm.playing ? 'pause.svg' : 'play.svg'}}" /></td>
			<td><img ng-click="vm.jumpPos(5)" src="forward5.svg" /></td>
			<td><img ng-click="vm.jumpPos(30)" src="forward30.svg" /></td>
			<td><img ng-click="vm.next()" src="forward.svg" /></td>
			<td><div style="width: 500px" /></td>
		</tr>
		<tr>
			<td colspan="8">{{vm.currentSong}}</td>
		</tr>
		<tr>
			<td colspan="8"><input type="range" min="0" max="{{vm.maxPos}}" ng-model="vm.curPos" ng-mouseup="vm.setPos(vm.curPos)" /></td>
		</tr>
	</table>
	<table>
		<tr>
			<td />
			<td><b>Videos</b></td>
		</tr>
		<tr>
			<td><img ng-click="vm.queueVideos()" src="check.svg" /></td>
			<td><img ng-click="vm.resetSearch()" src="clear.svg" /><input type="text" ng-model="vm.searchText" /></td>
		</tr>
		<tr ng-repeat="video in vm.videos | filter:vm.searchText | orderBy:'name'" ng-click="vm.queueVideo(video)">
			<td><img ng-src="{{video.queued ? 'check.svg' : 'uncheck.svg'}}" /></td>
			<td>{{::video.name}}</td>
		</tr>
	</table>

</body>
</html>
