body {
	height: 100%;
	margin: 0;
	background-color: black;
}

img.toggleMode {
	position: absolute;
	right: 0;
	top: 0;
	height: 5vh;
}

div {
	white-space: nowrap;
}

	div.search, div.search div, div.footer, div.footer div {
		overflow: hidden;
	}

	div.search {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 95vh;
		background-image: url(yellow.png);
	}

		div.search img {
			vertical-align: middle;
			height: 5vh;
			float: left;
		}

		div.search input {
			margin-left: 1vw;
			margin-right: 1vw;
			background: transparent;
			border: 8px groove;
			float: left;
			height: 5vh;
			color: black;
			font-size: 3vh;
			width: calc(100vw - 17vh);
		}

	div.videos {
		position: absolute;
		left: 0;
		right: 0;
		top: 5.1vh;
		bottom: 12.1vh;
		background-image: url(teal.png);
		overflow-x: hidden;
		overflow-y: scroll;
	}

		div.videos div {
			color: white;
			font-size: 2vh;
			text-shadow: 2px 2px #000000;
		}

			div.videos div img {
				vertical-align: middle;
				height: 5vh;
			}

	div.slideshow {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 87.9vh;
		background-image: url(teal.png);
	}

		div.slideshow textarea {
			width: calc(100vw - 5vh);
			height: 50vh;
			background: url("yellow.png");
			border: 8px groove;
			color: black;
			font-size: 3vh;
			padding: 10px;
		}

		div.slideshow select {
			background: transparent;
			font-size: 3vh;
			border: 0;
			outline: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 1px;
			text-overflow: '';
		}

		div.slideshow div.slideDisplay {
			margin-top: 2vh;
			height: 2vh;
			font-size: 1.8vh;
		}

			div.slideshow div.slideDisplay div.label {
				font-size: 3vh;
			}

			div.slideshow div.slideDisplay input {
				float: left;
				width: 90vw;
				height: 2vh;
			}

			div.slideshow div.slideDisplay div.time {
				float: right;
				margin-right: 1vw;
				height: 2vh;
				font-size: 1.8vh;
				text-align: right;
			}


		div.slideshow div.buttons {
			width: 100vw;
			text-align: justify;
			height: 8vh;
			white-space: initial; /* Necessary for buttons to automatically space out */
		}

			div.slideshow div.buttons img {
				height: 8vh;
				display: inline-block;
			}

			div.slideshow div.buttons .stretch {
				width: 100%;
				display: inline-block;
				font-size: 0;
				line-height: 0;
			}

		div.slideshow div.buttons2 {
			margin-top: 10vh;
		}

	div.footer {
		position: absolute;
		left: 0;
		right: 0;
		top: 88vh;
		bottom: 0;
		background-image: url(yellow.png);
	}

		div.footer div.playerTitle {
			margin-left: 1%;
			margin-right: 1%;
			font-size: 1.5vh;
			height: 2vh;
		}

		div.footer div.slider {
			height: 2vh;
			font-size: 1.8vh;
		}

			div.footer div.slider div {
				margin-left: 1vw;
				margin-right: 1vw;
				width: 10vw;
			}

				div.footer div.slider div.current {
					float: left;
				}

			div.footer div.slider input {
				float: left;
				width: 76vw;
				height: 2vh;
				margin: 0;
			}

			div.footer div.slider div.total {
				float: right;
				text-align: right;
			}

		div.footer div.buttons {
			text-align: justify;
			height: 8vh;
			white-space: initial; /* Necessary for buttons to automatically space out */
		}

			div.footer div.buttons img {
				height: 8vh;
				display: inline-block;
			}

			div.footer div.buttons .stretch {
				width: 100%;
				display: inline-block;
				font-size: 0;
				line-height: 0;
			}
