body {
	background-color: powderblue;
}

table {
	font-size: 80px;
}

th {
	text-align: left;
}

td {
	white-space: nowrap;
}

input {
	font-size: 80px;
}

.vcenter {
	vertical-align: middle;
}

input {
	width: 100%;
}
