<div>
	<table>
		<tr>
			<td><div style="width: 500px"/></td>
			<td><img ng-click="vm.pressButton('back30')" src="app/back30.png" /></td>
			<td><img ng-click="vm.pressButton('pause')" src="app/pause.png" /></td>
			<td><img ng-click="vm.pressButton('forward')" src="app/forward.png" /></td>
			<td><div style="width: 500px" /></td>
		</tr>
		<tr>
			<td colspan="5"><input type="range" min="0" max="1000" ng-model="vm.curPos" value="0" ng-change="vm.setPos(vm.curPos)" /></td>
		</tr>
	</table>
	<table>
		<tr>
			<td />
			<td><b>Movies</b></td>
		</tr>
		<tr>
			<td><img ng-click="vm.queueMovies()" src="app/check.png" /></td>
			<td><img ng-click="vm.resetSearch()" src="app/clear.png" /><input type="text" ng-model="vm.searchText" /></td>
		</tr>
		<tr ng-repeat="movie in vm.movies | filter:vm.searchText | orderBy:'name'" ng-click="vm.queueMovie(movie)">
			<td><img ng-src="{{movie.queued ? 'app/check.png' : 'app/uncheck.png'}}" /></td>
			<td>{{::movie.name}}</td>
		</tr>
	</table>
</div>