<div>
	<table>
		<tr>
			<td><div style="width: 500px"/></td>
			<td><img ng-click="vm.jumpPos(-30)" src="app/back30.svg" /></td>
			<td><img ng-click="vm.jumpPos(-5)" src="app/back5.svg" /></td>
			<td><img ng-click="vm.pause()" ng-src="{{vm.playing ? 'app/pause.svg' : 'app/play.svg'}}" /></td>
			<td><img ng-click="vm.jumpPos(5)" src="app/forward5.svg" /></td>
			<td><img ng-click="vm.jumpPos(30)" src="app/forward30.svg" /></td>
			<td><img ng-click="vm.next()" src="app/forward.svg" /></td>
			<td><div style="width: 500px" /></td>
		</tr>
		<tr>
			<td colspan="8">{{vm.currentSong}}</td>
		</tr>
		<tr>
			<td colspan="8"><input type="range" min="0" max="{{vm.maxPos}}" ng-model="vm.curPos" ng-mouseup="vm.setPos(vm.curPos)" /></td>
		</tr>
	</table>
	<table>
		<tr>
			<td />
			<td><b>Movies</b></td>
		</tr>
		<tr>
			<td><img ng-click="vm.queueMovies()" src="app/check.svg" /></td>
			<td><img ng-click="vm.resetSearch()" src="app/clear.svg" /><input type="text" ng-model="vm.searchText" /></td>
		</tr>
		<tr ng-repeat="movie in vm.movies | filter:vm.searchText | orderBy:'name'" ng-click="vm.queueMovie(movie)">
			<td><img ng-src="{{movie.queued ? 'app/check.svg' : 'app/uncheck.svg'}}" /></td>
			<td>{{::movie.name}}</td>
		</tr>
	</table>
</div>